@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 0 0% 100%;
  --color-primary: 231 69% 60%;
  --color-secondary: 229 31% 21%;
  --color-accent: 0 94% 66%;
}

body {
  overflow-x: hidden;
}
